<form class="align-items-center d-flex flex-column" {{on "submit" this.onSave}}>
  {{#each this.schemaFields as |field index|}}
    <div class="mb-3 w-50">
      <label
        for="input-{{index}}"
        class="form-label"
      >{{field.propertyName}}</label>
      <input
        data-test-input={{index}}
        type={{field.path}}
        class="form-control"
        id="input-{{index}}"
        {{on "input" (fn this.onPropertyChange field.propertyName)}}
      />
      <Shared::Form::Error
        data-test-error={{index}}
        @errors={{get
          this.changeset.error
          (concat field.propertyName ".validation")
        }}
      />
    </div>
  {{/each}}
  <button
    data-test-save-button
    type="submit"
    class="btn btn-primary w-25"
  >Save</button>
</form>